.tier {
	padding-top:100px;
	margin-top: 8px;
	margin-bottom: 0px;
	float: left;
	min-width: 130px;
	background: no-repeat;
}

.hiddenPower {
	padding-left: 4px;
	font-weight: bold;
}

/* Top 5 pokemon in the tier page */
.topPokemon {
	font-weight: bold;
	margin-bottom: 0px;
}

/* Lower pokemon in the tier page */
.lowPokemon {
	margin-bottom: 0px;
}

/* Top of a tier page */
.tierBattleNumber {
}

/* Top of a pokemon page */
.pokemonBattleNumber {
	/*text-align: center;*/
}

/* Ranks within a pokemon page */
.pokemonRank {
	font-weight: bold;
}

/* Styles <ul> */
.moveList {
}

/* Styles <li> */
.move {
}

/* Level, item, ability */
.pokemonTitle {
	margin-bottom: 0px;
}

/* Evs, ivs, nature */
.advanced {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 0.9em;
}

.smallPercent {
	padding-left: 4px;
	font-size: 0.7em;
}

.button {
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}

.normal {
	color: #a8a878;
}
.fighting {
	color: #c03028;
}
.flying {
	color: #a890f0;
}
.poison {
	color: #a040a0;
}
.ground {
	color: #e0c068;
}
.rock {
	color: #b8a038;
}
.bug {
	color: #a8b820;
}
.ghost {
	color: #705898;
}
.steel {
	color: #b8b8d0;
}
.fire {
	color: #f08030;
}
.water {
	color: #6890f0;
}
.grass {
	color: #78c850;
}
.electric {
	color: #f8d030;
}
.psychic {
	color: #f85888;
}
.ice {
	color: #98d8d8;
}
.dragon {
	color: #7038f8;
}
.dark {
	color: #705848;
}
.curse {
	color: #68a090;
}

.globaltable th, .globaltable td{
	background: DodgerBlue;
	font-size: 12px;
}


/* Links */
a {
	color:white;
	font-family:Arial;
	text-decoration: none
}
a:hover {
	color:beige;
	font-family:Arial;
	text-decoration: none
}
a img {
    border : 0px;
}

header {
    display : block;
    margin : 0px auto;
	/*text-align: center;*/
	font-size: 1.2em;
	font-weight: bold;
}

h1 {
	text-align: center;
	color:white;
	font-family:Arial;
	font-size: 40px;
}

h2 {
	color:white;
	font-family:Arial;
	font-size: 35px;
}

body {
	background: url("BlueHiddenInnerBall.png");	
}

div {
	margin: 0px;
}


table {
	border:3px solid black;
	border-spacing:0px;
	margin-top: 10px;
	margin-left: 0px;
	position: relative;
}

table.noborder {
	background-color: transparent;
	border:0px solid;
}

caption {
	color:white;
	font-family:Arial;
}

th {
	background-color: MidnightBlue;
	border:3px solid black;
	color:white;
	font-family:Arial;
	font-size: 25px;
	padding:10px 10px 10px 10px;
}

td {
	background-color: DarkBlue;
	border: 3px solid black;
	color:white;
	font-family:Arial;
	font-size: 20px;
	padding:10px 10px 10px 10px;
}

td.noborder {
	background-color: transparent;
	border:0px solid;
}

p {
	color:white;
	font-family:Arial;	
}

ul {
	color:white;
	font-family:Arial;
}

input {
	-moz-box-shadow:inset 0px 41px 0px -50px #f5978e;
	-webkit-box-shadow:inset 0px 41px 0px -50px #f5978e;
	box-shadow:inset 0px 41px 0px -50px #f5978e;
	background-color:#f24537;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border: 4px solid #d02718;
	display:inline-block;
	color:white;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding: 4px;
	text-decoration:none;
	text-shadow: 50px #810e05;
}

input:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}

input:active {
	position:relative;
	top:1px;
}